# Flutter
build/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
*.iml
*.log
*.lock
*.pyc
*.dart_tool/
*.DS_Store
**/GeneratedPluginRegistrant.*

# IntelliJ
*.ipr
*.iws
*.iml
.idea/

# VSCode
.vscode/
